{% url "posts:single" pk=post.pk as post_detail_url %}
<div class="imageWrapper">
  <div class="postHeader d-flex justify-content-between">
    <div class='userInfo'>
      <h1 class='fs-5 m-0'>
        <a href="{%url 'accounts:profile' slug=post.user.profile.slug%}">
          {{post.user}}
        </a>
      </h1>
      <small>{{post.user.profile.status}}</small>
      {% if post.date_modified %}
        <small class='fw-lighter'>{{post.date_modified}} (edited)</small>
      {% else %}
        <small class='fw-lighter'>{{post.date_added}}</small>
      {% endif %}
    </div>
    {% if user.is_authenticated and post.user == user %}
      <div class="userCommandButtons">
        <a href="{% url 'posts:update' pk=post.pk %}" class="btn">
          <i class="far fa-edit"></i>
        </a>
        <button class="btn deleteModalTrigger" data-deleteURL="{%url 'posts:delete' pk=post.pk%}">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    {% endif %}
  </div>
  {% if request.path != post_detail_url %}
    <a href="{% url 'posts:single' pk=post.pk%}" class='stretched-link' role='button'></a>
  {% else %}
    <a href="#" class='stretched-link zoomModalTrigger' role='button'></a>
  {% endif %}
  <img src="{{post.image.url}}" alt="{{post.title}}" class='imageItem'/>
  <div class="postFooter">
    <a href="{%url 'posts:like' pk=post.id %}" type='submit' class='btn'><i class='far fa-thumbs-up'></i> <span class="likeCount">{{post.post_likes.count}}</span> </a>
    <a href="{{post.image.url}}" class='btn' download="{{post.title}}"><i class="fas fa-download"></i></a>
  </div>
</div>