[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap-v5 = "*"
Pillow = "<9.0,>=8.0"
Django = ">=3.1.7,<3.2"
django-cleanup = "*"
django-braces = "*"

[dev-packages]

[requires]
python_version = "3.8"
