header nav a .brand {
  font-size: 1.2rem;
}

header nav a .brand:hover {
  color: #5EBAE7;
}

header nav .list-group .list-group-item {
  border: none;
}

header nav .list-group .list-group-item a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

header nav .list-group .list-group-item a:hover {
  color: lightblue;
}

.collapse .list-group-item-action:hover {
  color: white;
  background-color: #5EBAE7;
}

.svgLogo {
  max-width: 70px;
  max-height: 70px;
}

main .customJtron {
  background: url("../images/landingImage.jpeg") fixed no-repeat;
  height: 75vh;
}

main .postList .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}

main .postList .container .grid .imageWrapper {
  position: relative;
  color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

main .postList .container .grid .imageWrapper:hover img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  background-color: rgba(0, 0, 0, 0.7);
}

main .postList .container .grid .imageWrapper:hover :not(img) {
  opacity: 1;
}

main .postList .container .grid .imageWrapper .postHeader {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

main .postList .container .grid .imageWrapper .postHeader h1 {
  z-index: 2;
}

main .postList .container .grid .imageWrapper .postHeader h1 a {
  text-decoration: none;
  color: white;
}

main .postList .container .grid .imageWrapper .postHeader h1 a:hover {
  color: #5EBAE7;
}

main .postList .container .grid .imageWrapper .postHeader small {
  display: block;
}

main .postList .container .grid .imageWrapper .postFooter {
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

main .postList .container .grid .imageWrapper .postFooter .fa-thumbs-up, main .postList .container .grid .imageWrapper .postFooter .fa-download {
  color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

main .postList .container .grid .imageWrapper .postFooter .fa-thumbs-up:hover, main .postList .container .grid .imageWrapper .postFooter .fa-download:hover {
  color: #5EBAE7;
}

main .postList .container .grid .imageWrapper img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-radius: 5px;
}

main .postList .container .grid .imageWrapper.landscape {
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
}

main .postList .container .grid .imageWrapper.big {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
}

main .postList .container .grid .imageWrapper.portrait {
  -ms-grid-row-span: 3;
      grid-row-end: span 3;
}

@media (max-width: 768px) {
  main .postList .container .grid {
    display: block;
  }
  main .postList .container .grid .imageWrapper {
    margin-bottom: 1em;
  }
  main .postList .container .grid .imageWrapper .postHeader, main .postList .container .grid .imageWrapper .postFooter {
    left: 0;
    padding: 1em 0;
    display: block;
    opacity: 1;
    position: relative;
    color: black;
    z-index: 2;
  }
  main .postList .container .grid .imageWrapper .postHeader h1 a {
    text-decoration: none;
    color: black;
  }
  main .postList .container .grid .imageWrapper .postFooter .fa-download, main .postList .container .grid .imageWrapper .postFooter .fa-thumbs-up {
    color: black;
  }
}
