header nav a .brand {
  font-size: 1.2rem;
}

header nav a .brand:hover {
  color: #5EBAE7;
}

header nav .list-group .list-group-item {
  border: none;
}

header nav .list-group .list-group-item a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

header nav .list-group .list-group-item a:hover {
  color: lightblue;
}

.collapse .list-group-item-action:hover {
  color: white;
  background-color: #5EBAE7;
}

.svgLogo {
  max-width: 70px;
  max-height: 70px;
}

main .container .profileImageWrapper {
  width: 200px;
  margin: auto;
}

main .container .profileImageWrapper .fa-user-secret, main .container .profileImageWrapper .profilePic {
  width: 100%;
  height: 100%;
}
