header{
  nav{
    a{
      .brand{
        font-size: 1.2rem;
        &:hover{
          color: $light-blue;
        }
      }
    }
    .list-group{
      // display: none;
      .list-group-item{
        border: none;
        a{
          text-decoration: none;
          color: black;
          font-size: 1.2rem;
          &:hover{
            color: lightblue;
          }
        }
      }
    }
  }
}
.collapse{
  .list-group-item-action:hover{
    color: white;
    background-color: $light-blue
  }
}
.svgLogo{
  max-width:35px;
  max-height: 35px;
}


.searchBar{
  .searchInput{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .searchButton{
    border-right: 0;
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
  }
}

@media (max-width:1000px){
  .brand{
    display: none;
  }
}