@import 'variables';
@import 'header';
main{
  .postDetail{
    height:100vh;
    width: 100vw;
    margin: 0 auto;
    // .container{
      .imageWrapper.zoomed-in{
        width: 100%;
        height: 100%;
      }
      .imageWrapper.zoomed-out{
        width: 50%;
        height: 75%;
        margin: 0 auto;
      }
      .imageWrapper{ 
        position: relative;
        color: white;
        transition: all 0.25s;
        .stretched-link.zoom-in{
          cursor: zoom-in;
        }
        .stretched-link.zoom-out{
          cursor: zoom-out;
        }
        .postHeader, .postFooter{
          left: 0;
          padding: 1em 0;
          display: block;
          opacity: 1;
          position: relative;
          color: black;
          z-index:2;
        }
        .postHeader{
          h1{
            a{
              text-decoration: none;
              color: black;
            }
          }
        }
        .postFooter{
          display: flex;
          justify-content: flex-end;
          .fa-download, .fa-thumbs-up{
            color: black;
          }
        } 
        img{
          border: 2px solid black;
          display: block;
          // object-fit: cover;
          width: 100%;
          height: auto;
          max-height:100%;
          // max-width: 100%;
          transition: all 0.25s;
          border-radius: 5px;
        }
      }
    }
  // }
}

@media (max-width:725px) and (hover:none){
  main{
    .postDetail{
      .imageWrapper.zoomed-out{
        width: 75%;
        height: 60%;
      }
    }
  }
}

