@import 'variables';
@import 'header';
@import 'globals';

.fa-thumbs-up, .fa-download, .fa-trash-alt, .likeCount, .DLCount{
  color:white;
  transition: all 0.25s;
  &:hover{
    color: $light-blue;
  }
}

main{
  .customJtron{
    background: url('../images/landingImage.jpeg') fixed no-repeat;
    height: 85vh;
  }  
  .postList{
    .container{
      .grid{
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-template-rows: repeat(auto-fit, 260px);
        grid-gap: 0.3em;
        grid-auto-flow: dense;
        .imageWrapper{
          position: relative;
          color: white;
          transition: all 0.25s;
          &:hover{
            img{
              filter: brightness(30%);
              background-color: transparentize($color: #000000, $amount: 0.3);
            }
            :not(img){
              opacity: 1;
            }
          }
          .postHeader{
            position: absolute;
            // left: 10px;
            // top: 10px;
            width: 100%;
            z-index: 2;
            opacity: 0;
            transition: all 0.25s;
            .userInfo{
              padding: 1em;
              z-index: 2;
              h1{
                a{
                  text-decoration: none;
                  color: white;
                  &:hover{
                    color: $light-blue;
                  }
                }
              }
            }
            .userCommandButtons{
              padding: 1em;
              z-index: 2;
            }
            small{
              display: block;
            }
          }
          .postFooter{
            color: white;
            position: absolute;
            right: 10px;
            bottom: 10px;
            // width: 100%;
            z-index: 2;
            opacity: 0;
            transition: all 0.25s;
          }
          img{
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.25s;
            border-radius: 5px;
          }
        }
        // .imageWrapper.landscape{
        //   grid-column-end: span 4;
        // }
        // .imageWrapper.big{
        //   grid-column-end: span 2;
        // }
        // .imageWrapper.portrait{
        //   grid-row-end: span 3;
        // }
      }
    }
  }
}

@media (max-width: 768px) {
  main{
    .postList{
      .container{
        .grid{
          display: block;
          .imageWrapper{
            // position: static;
            margin-bottom: 1em; 
            .postHeader, .postFooter{
              left: 0;
              padding: 1em 0;
              display: block;
              opacity: 1;
              position: relative;
              color: black;
              z-index:2;
            }
            .postHeader{
              .userInfo{
                padding: 1em;
                z-index: 2;
                h1{
                  a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                      color: $light-blue;
                    }
                  }
                }
              }
              .userCommandButtons{
                .fa-trash-alt, .fa-edit{
                  color: black;
                }
              }
            }
            .postFooter{
              .fa-download, .fa-thumbs-up{
                color: black;
              }
              a{
                .likeCount, .DLCount{
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}