@import 'variables';
@import 'header';

main{
  .container{
    .profileImageWrapper{
      width: 200px;
      margin: auto;
      // height: 200px;
      .fa-user-secret{
        width: 100%;
        height: 100%;
      }
    }
  }
}